<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs #myTabs *ngIf="cmv.Is_Logged_In.value">
    <ion-tab-bar slot="bottom" translucent="true">
      <ion-tab-button tab="outlets" class="lights">
        <ion-icon ios="bulb" md="bulb-sharp"></ion-icon>
        <ion-label>Lights</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings" class="settings">
        <ion-icon ios="cog" md="cog-sharp"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>